<div class="panel-body">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Child Details</h3>
		</div>
		<div class="panel-body">
			<div *ngIf="child" id="childDetailDisplay" class="container-fluid">
				<form #childForm="ngForm" (ngSubmit)="submit(child);" class="form-horizontal">
					<div class="form-group" [class.has-error]="firstName.invalid && firstName.dirty" id="firstNameFormGroup">
						<label for="firstName" class="control-label col-md-2">First Name *</label>
						<div class="col-md-8">
							<input type="text" id="firstName" class="form-control" [(ngModel)]="child.firstName" name="firstName" required #firstName="ngModel">
						</div>
					</div>
					<div class="form-group" [class.has-error]="surname.invalid && surname.dirty" id="surnameFormGroup">
						<label for="surname" class="control-label col-md-2">Surname *</label>
						<div class="col-md-8">
							<input type="text" id="surname" class="form-control" [(ngModel)]="child.surname" name="surname" required #surname="ngModel">
						</div>
					</div>
					<div class="form-group" [class.has-error]="dateOfBirth.invalid && dateOfBirth.dirty" id="dateOfBirthFormGroup">
						<label for="dateOfBirth" class="control-label col-md-2">Date of Birth *</label>
						<div class="col-md-8">
							<div class="input-group">
								<input type="text" id="dateOfBirth" class="form-control" bsDatepicker [bsConfig]=datePickerConfig [(ngModel)]="dateOfBirthPickerValue" name="dateOfBirth" required #dateOfBirth="ngModel"/>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Attendance</label>
          </div>
          <div class="form-group">
            <div class="col-md-2 text-right control-label">Monday</div>
            <div class="col-md-10">
              <app-daily-attendance class="mondayAttendance" [(ngModel)]="child.attendance.monday" name="mondayAttendance"></app-daily-attendance>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 text-right control-label">Tuesday</div>
            <div class="col-md-10">
              <app-daily-attendance class="tuesdayAttendance" [(ngModel)]="child.attendance.tuesday" name="tuesdayAttendance"></app-daily-attendance>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 text-right control-label">Wednesday</div>
            <div class="col-md-10">
              <app-daily-attendance class="wednesdayAttendance" [(ngModel)]="child.attendance.wednesday" name="wednesdayAttendance"></app-daily-attendance>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 text-right control-label">Thursday</div>
            <div class="col-md-10">
              <app-daily-attendance class="thursdayAttendance" [(ngModel)]="child.attendance.thursday" name="thursdayAttendance"></app-daily-attendance>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 text-right control-label">Friday</div>
            <div class="col-md-10">
              <app-daily-attendance class="fridayAttendance" [(ngModel)]="child.attendance.friday" name="fridayAttendance"></app-daily-attendance>
            </div>
          </div>
					<div class="form-group">
						<div class="col-md-2">
							<button (click)="goToChildrenPage()" id="goToChildrenPageButton" class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Children
							</button>
						</div>
						<div class="col-md-8">
							<button class="btn btn-primary" type="submit" [disabled]="childForm.form.invalid || childForm.form.pristine" id="saveButton">
								<span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Save
							</button>
							<button class="btn btn-default" type="button" id="deleteButton" *ngIf="isItViewChildPage" (click)="showConfirmationDialog()">
								<span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;Delete
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<p *ngIf="queryErrorMessage" id="errorMessageDisplay">{{queryErrorMessage}}</p>
