<div *ngIf="child" id="childDetailDisplay" class="container">
	<form #childForm="ngForm" (ngSubmit)="save(child);" class="form-horizontal">
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<h4>Child Details</h4>
			</div>
		</div>
		<div class="form-group" [class.has-error]="firstName.invalid" id="firstNameFormGroup">
			<label for="firstName" class="control-label col-md-2">First Name *</label>
			<div class="col-md-8">
				<input type="text" id="firstName" class="form-control" [(ngModel)]="child.firstName" name="firstName" required #firstName="ngModel">
			</div>
		</div>
		<div class="form-group" [class.has-error]="surname.invalid" id="surnameFormGroup">
			<label for="surname" class="control-label col-md-2">Surname *</label>
			<div class="col-md-8">
				<input type="text" id="surname" class="form-control" [(ngModel)]="child.surname" name="surname" required #surname="ngModel">
			</div>
		</div>
		<div class="form-group" [class.has-error]="dateOfBirth.invalid" id="dateOfBirthFormGroup">
			<label for="dateOfBirth" class="control-label col-md-2">Date of Birth *</label>
			<div class="col-md-8">
				<div class="input-group">
					<input type="text" id="dateOfBirth" class="form-control" bsDatepicker [bsConfig]=datePickerConfig [(ngModel)]="dateOfBirthPickerValue" name="dateOfBirth" required #dateOfBirth="ngModel"/>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<button class="btn btn-success" type="submit" [disabled]="childForm.form.invalid || childForm.form.pristine" id="saveButton">Save</button>	
			</div>			
		</div>
	</form>
</div>
<p *ngIf="queryErrorMessage" id="errorMessageDisplay">{{queryErrorMessage}}</p>
<button (click)="goToChildrenPage()" id="goToChildrenPageButton">Children</button>