<div class="panel panel-default">
    <div class="panel-heading">Weekly Attendance</div>
    <div class="panel-body">
        <div *ngIf="attendance then attendanceInfo else noAttendance" class="weeklyAttendance"></div>
        <ng-template #attendanceInfo>
            <app-daily-attendance day="Monday" [attendance]="attendance.monday"></app-daily-attendance>
            <app-daily-attendance day="Tuesday" [attendance]="attendance.tuesday"></app-daily-attendance>
            <app-daily-attendance day="Wednesday" [attendance]="attendance.wednesday"></app-daily-attendance>
            <app-daily-attendance day="Thursday" [attendance]="attendance.thursday"></app-daily-attendance>
            <app-daily-attendance day="Friday" [attendance]="attendance.friday"></app-daily-attendance>
        </ng-template>
        <ng-template #noAttendance>No weekly attendance has been set for this child.</ng-template>
    </div>
</div>
