<div class="form-inline">
  <select class="form-control dailyAttendanceFromSelect" [(ngModel)]="from" (blur)="blur()">
    <option value="{{NOT_SET_CHAR}}"></option>
    <option *ngFor="let timeOption of TIMES" value="{{timeOption}}">{{timeOption}}</option>
  </select>
  &nbsp;-&nbsp;
  <select class="form-control dailyAttendanceToSelect" [(ngModel)]="to" (blur)="blur()">
    <option value="{{NOT_SET_CHAR}}"></option>
    <option *ngFor="let timeOption of TIMES" value="{{timeOption}}">{{timeOption}}</option>
  </select>
</div>
