<div class="panel-body">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Children</h3>
		</div>
		<div class="panel-body">
			<div id="childListDisplay" class="list-group">
				<a *ngFor="let child of children" [routerLink]="['/child', child.id]" class="list-group-item">
					{{child.firstName}} {{child.surname}} ({{child.dateOfBirth}})
				</a>
			</div>
			<button class="btn btn-primary" type="button" id="addChildButton" [routerLink]="['/child/add']">
				<span class="glyphicon glyphicon-plus"></span>&nbsp;Add
			</button>
		</div>
	</div>		
</div>		
<p *ngIf="queryErrorMessage" id="errorMessageDisplay">{{queryErrorMessage}}</p>