<div class="panel-body">
  <div class="panel panel-default">
		<div class="panel-heading">
      <h3 class="panel-title">Weekly Attendance</h3>
    </div>
		<div class="panel-body">
      <div class="form-inline hidden-print">
        <div class="form-group">
          Chart type:
          <select class="form-control" [(ngModel)]="chartType">
            <option value="timeline">Timeline</option>
            <option value="candlestick">Candlestick</option>
            <option value="timelineChildNumber">Timeline child number</option>
          </select>
        </div>
        <button class="btn btn-primary" type="button" id="printButton" (click)="print()">
          <span class="glyphicon glyphicon-print"></span>&nbsp;Print
        </button>
      </div>
      <br class="hidden-print">
      <div [ngSwitch]="chartType">
        <app-google-timeline-chart *ngSwitchCase="'timeline'" [weeklyAttendance]="$weeklyAttendance">
        </app-google-timeline-chart>
        <app-google-candlestick-chart *ngSwitchCase="'candlestick'" [weeklyAttendance]="$weeklyAttendance">
        </app-google-candlestick-chart>
        <app-google-timeline-child-number-chart *ngSwitchCase="'timelineChildNumber'" [weeklyAttendance]="$weeklyAttendance">
        </app-google-timeline-child-number-chart>
      </div>
    </div>
  </div>
</div>
